body {
  background-color: #EAf6f6;
}
h1,h2,h3 {
  color: #66BFBF;
}

hr {
  background-color: white;
  border-style: none;
  border-top: 4px dotted green;
  height: 2px;
  width: 100%;
}

img {
  height: 200px;
}
